{# src/TMS/TasksManagerBundle/Resources/views/Default/create.html.twig #}
{% extends "::layout.html.twig" %}

{% block title %}{{ app.user.username }} - Create New Task{% endblock %}

{% block Stylesheets %}
	{{ parent() }}
	<link href="{{ asset('bundles/tmstasksmanager/css/styleTaskAction.css')  }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block header %}
	<p><a class="links" href="{{ path('tms_users_dashboard') }}"><img src="{{ asset('public/images/logoTaskManager.png') }}" alt="logo TaskManager" /></a></p>
	<p>{{ app.user.username }}</p>
	<p><a href="{{ path('logout') }}">Logout</a></p>
{% endblock %}

{% block content %}	
	<div class="form">
		{{ form_start(creation_form) }}
			{{ form_errors(creation_form) }}
			
			{{ form_row(creation_form.name) }}
			{{ form_row(creation_form.priority) }}
			{{ form_row(creation_form.due_date) }}
			{{ form_row(creation_form.description) }}
			{{ form_row(creation_form.submit) }}
		{{ form_end(creation_form) }}
	</div>
{% endblock %}