{# src/TMS/TasksManagerBundle/Resources/views/Default/edit.html.twig #}
{% extends "::userLayout.html.twig" %}

{% block title %}{{ app.user.username }} - Edit Task{% endblock %}

{% block Stylesheets %}
	{{ parent() }}
	<link href="{{ asset('bundles/tmstasksmanager/css/styleTaskAction.css')  }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
	<div class="form">
		{{ form_start(edit_form) }}
			{{ form_errors(edit_form) }}
			
			{{ form_row(edit_form.name) }}
			{{ form_row(edit_form.priority) }}
			{{ form_row(edit_form.due_date) }}
			{{ form_row(edit_form.description) }}
			{{ form_row(edit_form.submit) }}
		{{ form_end(edit_form) }}
	</div>
{% endblock %}