{# src/TMS/TasksManagerBundle/Resources/views/Default/index.html.twig #}
{% extends "::tasksJsActions.html.twig" %}

{% block title %}{{ app.user.username }} - Tasks List{% endblock %}

{% block Stylesheets %}
	{{ parent() }}
	<link href="{{ asset('bundles/tmstasksmanager/css/styleListe.css')  }}" rel="stylesheet" type="text/css"> 
{% endblock %}
	
{% block content %}
	<div id="filters">
		Filtres de tri
	</div>
	<p><a class="links" href="{{ path('tms_tasks_manager_create') }}">Create a new Task</a></p>
	<section>
		{% if tasks != null %}
			{% if tasks|length != 1 %}
				<p>Tasks :</p>
			{% else %}
				<p>Task :</p>
			{% endif %}
		{% endif %}
		{% for task in tasks %}
			<div class="task">
				<div class="nameTask">
					<p><a class="showLink" href="{{ path('tms_tasks_manager_show', { 'taskid': task.getId() }) }}">{{task.getName()}}</a></p>
					<p>Priority: {{task.getPriority()}}</p>
					{% if task.getDateStarted() == null %}
						<p>Not Begin</p>
					{% else %}
						<p>Begin the: {{task.getDateStarted()|date('m/d/Y H:i')}}</p>
					{% endif %}
					<p>To finish for: {{task.getDueDate()|date('m/d/Y H:i')}}</p>
				</div>
				<div class="descriptionTask">
					{{task.getDescription()}}
				</div>
				<div class="depTask">
					<p><a class="addDeps links" id="{{ task.getId() }}" href="#">Add Dependences</a></p>
					{% if task.getDepTasks()|length != 0 %}
						<div class="depList" >
							{% for depTask in task.getDepTasks() %}
								<p><a class="removeDeps" value="{{ depTask.getId() }}" href="#"><img alt="delete cross" src="{{ asset('public/images/delete.png') }}"/></a> {{depTask.getName()}}</p>
							{% endfor %}
						</div>
					{% endif %}
				</div>
				<div class="actionTask">
					<p><a class="links" href="{{ path('tms_tasks_manager_edit', { 'taskid': task.getId() }) }}">Edit this Task</a></p>
					<p><a class="links deleteBtn" href="{{ path('tms_tasks_manager_delete', { 'taskid': task.getId() }) }}">Delete this Task</a></p>
				</div>
			</div>
		{% endfor %}
	</section>
{% endblock %}