{# src/TMS/TasksManagerBundle/Resources/views/Default/index.html.twig #}
{% extends "TMSUsersBundle:Default:userPage.html.twig" %}

{% block title %}{{ app.user.username }} - Tasks List{% endblock %}
	
{% block content %}
	<h1>Hello {{ app.user.username }}!</h1>
	<p>Next your Task List :</p>
	{% for task in tasks %}
		<div id="task">
			{{task.getName()}}
			{{task.getDescription()}}
			{{task.getPriority()}}
			{{task.getDateStarted()}}
			{{task.getDateCompleted()}}
			<a href="{{ path('tms_tasks_manager_show', { 'taskid': task.getId() }) }}">Show in details</a>
		</div>
	{% endfor %}
	<a href="{{ path('tms_users_dashboard') }}">Return to dashboard</a>
{% endblock %}