{# src/TMS/TasksManagerBundle/Resources/views/Default/show.html.twig #}
{% extends "::tasksJsActions.html.twig" %}

{% block title %}{{ app.user.username }} - Task: {{ task.getName() }}{% endblock %}

{% block Stylesheets %}
	{{ parent() }}
	<link href="{{ asset('bundles/tmstasksmanager/css/styleListe.css')  }}" rel="stylesheet" type="text/css">
	<link href="{{ asset('bundles/tmstasksmanager/css/styleShow.css')  }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
	<h1>{{task.getName()}}</h1>
	<div id="mainInformations">
		<div id="priority">
			<p>Priority: {{task.getPriority()}}</p>
		</div>
		<div id="dueDate">
			<p>Due Date: {{task.getDueDate()|date('m/d/Y H:i')}}</p>
		</div>
		<div id="beginEndDates">
			{# Si la tâche est commencée #}
			{% if task.getDateStarted() == null %}
				<p>Not Started yet <a class="timeUpdate startTask" id="start_{{ task.getId() }}" href="#" >-> Begin Now</a></p>
			{% else %} {# Si la tâche est non commencée #}
				<p>Started the: {{task.getDateStarted()|date('m/d/Y H:i')}}</p>
			{% endif %}
			{# Si la tâche est terminée #}
			{% if task.getDateCompleted() != null %}
				<p>Finished the : {{task.getDateCompleted()|date('m/d/Y H:i')}}</p>
			{% else %}	{# Si la tâche n'est pas terminée #}
				{# Si la tâche a une date de fin encore valide #}
				{% if task.getDueDate() > "now"|date("m/d/Y H:i") %}
					{# Si la tâche a été commencé on propose de la finir #}
					{% if task.getDateStarted() != null %}
						<p>To finish for: {{task.getDueDate()|date('m/d/Y H:i')}} | <a class="timeUpdate finishTask" id="finish_{{ task.getId() }}" href="#" >Finish Now</a></p>
					{% else %}	{# Sinon non #}
						<p>To finish for: {{task.getDueDate()|date('m/d/Y H:i')}}</p>
					{% endif %}
				{% else %}	{# Si la tâche est expirée sans avoir été finie #}
					<p>Deadtime reach !</p>
				{% endif %}
			{% endif %}
		</div>
	</div>
	<div id="moreInformations">
		<div id="description">
			<h2>Description:</h2>
			<p>{{task.getDescription()}}</p>
		</div>
		<div id="depTask">
			{% if task.getDepTasks()|length != 0 %}
				{% if task.getDepTasks()|length > 1 %}
					<p>Dependent tasks:</p>
				{% else %}
					<p>Dependent task:</p>
				{% endif %}
				<div id="depTaskList" >
					{% for depTask in task.getDepTasks() %}
						<p>
							<a class="removeDeps" id="{{ task.getId() }}_{{ depTask.getId() }}" href="#">
								<img alt="delete cross" src="{{ asset('public/images/delete.png') }}"/>
							</a> 
							{{depTask.getName()}}
						</p>
					{% endfor %}
				</div>
			{% endif %}
		</div>
	</div>
	<div id="actions">
		<h3>Possibles Actions:</h3>
		<p>- <a class="links addDeps" id="{{ task.getId() }}" href="#">Add Dependences</a></p>
		<p>- <a class="links" href="{{ path('tms_tasks_manager_edit', { 'taskid': task.getId() }) }}">Edit Task</a></p>
		<p>- <a class="links deleteBtn" href="{{ path('tms_tasks_manager_delete', { 'taskid': task.getId() }) }}">Delete Task</a></p>
	</div>
	<p>
		<a class="links" href="{{ path('tms_tasks_manager_homepage') }}">Return to your Task list</a>
	<p>
{% endblock %}