{# src/TMS/TasksManagerBundle/Resources/views/Default/show.html.twig #}
{% extends "::userLayout.html.twig" %}

{% block title %}{{ app.user.username }} - Task: {{ task.getName() }}{% endblock %}

{% block Stylesheets %}
	{{ parent() }}
	<link href="{{ asset('bundles/tmstasksmanager/css/styleListe.css')  }}" rel="stylesheet" type="text/css">
	<link href="{{ asset('bundles/tmstasksmanager/css/styleShow.css')  }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
	<h1>{{task.getName()}}</h1>
	<div id="mainInformation">
		<div id="priority">
			<p>Priority: {{task.getPriority()}}</p>
		</div>
		<div id="dueDate">
			<p>Due Date: {{task.getDueDate()|date('m/d/Y H:i')}}</p>
		</div>
		<div id="beginEndDates">
			{% if task.getDateStarted() == null %}
				<p>Not Begin</p>
			{% else %}
				<p>Begined the: {{task.getDateStarted()|date('m/d/Y H:i')}}</p>
			{% endif %}
			{% if task.getDateCompleted() == null %}
				<p>Not Finished yet</p>
			{% else %}
				<p>Finished the: {{task.getDateCompleted()|date('m/d/Y H:i')}}</p>
			{% endif %}
		</div>
	</div>
	<div id="description">
		<h2>Description:</h2>
		<p>{{task.getDescription()}}</p>
	</div>
	<div id="actions">
		<h3>Possibles Actions:</h3>
		<p>- <a class="links" href="{{ path('tms_tasks_manager_edit', { 'taskid': task.getId() }) }}">Edit this Task</a></p>
		<p>- <a class="links deleteBtn" href="{{ path('tms_tasks_manager_delete', { 'taskid': task.getId() }) }}">Delete this Task</a></p>
	</div>
	<p>
		<a class="links" href="{{ path('tms_tasks_manager_homepage') }}">Return to your Task list</a>
	<p>
{% endblock %}