{# app/Resources/views/userLayout.html.twig #}
{% extends "::layout.html.twig" %}
{#{% include 'AcmeInstallationWizardBundle:Js:jquery_uniform.js.twig' %}          #}

{% block Stylesheets %}
	{{ parent() }}
	<link href="{{ asset('public/css/styleUser.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block javascripts %}
	<script type="text/javascript" src="{{ asset('public/js/jquery-2.min.js') }}" ></script>
	<script type="text/javascript" src="{{ asset('public/js/eventManager.js') }}" ></script>
	<script type="text/javascript" src="{{ asset('public/js/deleteConfirm.js') }}" ></script>
	<!--<script type="text/javascript" src="{{ asset('public/js/addDeps.js') }}" ></script>-->
	
	<script type="text/javascript">
		// Ajoute les évènements liés aux boutons de delete des tasks
		var aAddDeps = document.getElementsByTagName('a');	
		for (var i = 0 ; i < aAddDeps.length ; i++)
		{
			if (aAddDeps[i].classList.contains('addDeps')) {
				addEvent(aAddDeps[i], 'click', addDeps);
			}
		}

		function addDeps(e)
		{
			var targ = getTarget(e);
			
			// Envoi un formulaire post vers le lien tms_tasks_manager_add_dep_form
			// Avec le parametre taskid
			// Appel la methode showFormAddDepths lors de la réponse
			// type de réponse : json
			$.post("{{path('tms_tasks_manager_add_dep_form')}}",               
				  { taskid: targ.id },
				  showFormAddDeps,
				  "json");
		}

		function showFormAddDeps(answer)
		{
			if (answer.taskid == null && answer.deps == null)
				return;
			alert(answer.deps.length);
			// Div principale du message à afficher
			var divPopUp = document.createElement('div');
			divPopUp.id = 'addDepsForm';
			
			// Chaines de textes
			var textNodes = [
				document.createTextNode('Choose task dependances :'),
				document.createTextNode('Cancel')
			];
			
			// Paragraphe d'introduction
			var message = document.createElement('p');
			message.appendChild(textNodes[0]);
			
			
			// Paragraphe du formulaire de choix des dépendances
			var choseDeps = document.createElement('p');
			
			var form = document.createElement('form');
			form.action  = '{{ path('tms_tasks_manager_add_dep') }}';
			form.enctype = 'multipart/form-data';
			form.method  = 'post';
			
			// Boucle pour afficher toutes les taches possibles
			for (var i = 0 ; i < answer.deps.length ; i++)
			{
				var checkBox = document.createElement('input');
				checkBox.type = 'checkbox';
				checkBox.id   = 'checkBox'+i;
				checkBox.name = input.id;
				
				var nameTask = document.createElement('p');
				nameTask.appendChild(answer.deps.getName());
			}
			
			var submit = document.createElement('input');
			submit.type  = 'submit';
			submit.value = 'Add';
			form.appendChild(submit);
			
			choseDeps.appendChild(form);
			
			// Paragraphe final
			var cancel = document.createElement('p');
			
			var refuseLink = document.createElement('a');
			refuseLink.href  = '#';
			refuseLink.onclick = destroyPopUpAddDepsTask;
			refuseLink.id = 'cancel';
			refuseLink.appendChild(textNodes[1]);
			
			cancel.appendChild(refuseLink);
			
			// Ajout de tous les paragraphes
			divPopUp.appendChild(message);
			divPopUp.appendChild(choseDeps);
			divPopUp.appendChild(cancel);
			
			// Ajout au body
			document.body.appendChild(divPopUp);
		}

		function destroyPopUpAddDepsTask()
		{
			var body = document.body
			var popUp = document.getElementById("addDepsForm");

			body.removeChild(popUp);
		}
	</script>
{% endblock %}

{% block header %}
	<p class="logo" ><a class="links" href="{{ path('tms_users_dashboard') }}"><img src="{{ asset('public/images/logoTaskManager.png') }}" alt="logo TaskManager" /></a></p>
	<p>{{ app.user.username }}</p>
	<p class="logout" ><a href="{{ path('logout') }}"><img id="imgLogout" alt="logout icon" src="{{ asset('public/images/logout.png')  }}"/> Logout</a></p>
{% endblock %}