{# src/TMS/UsersBundle/Resources/views/Default/dashboard.html.twig #}
{% extends "TMSUsersBundle:Default:userPage.html.twig" %}

{% block title %}{{ username }} - Tasks Manager{% endblock %}

{% block content %}
	<h1>Hello {{ username }}!</h1>
	<p>Next 5 Tasks :</p>
	{% for task in next_tasks %}
		<div id="task">
			{{task.getName()}}
			{{task.getDescription()}}
			{{task.getPriority()}}
			{#{{task.getDateBegin()}} Don't work ??#}
			{#{{task.getDateEnd()}}#}
		</div>
	{% endfor %}
	
	<a href="{{ path('tms_tasks_manager_homepage', { 'username': 'KeRNeLith' }) }}">Link to your Task list</a>
	{#<a href="{{ path('tms_tasks_manager_homepage', { 'username': 'gupascal' }) }}">Link to your Task list</a>#}
{% endblock %}