{# src/TMS/UsersBundle/Resources/views/Default/dashboard.html.twig #}
{% extends "::layout.html.twig" %}

{% block title %}{{ app.user.username }} - Dashboard{% endblock %}

{% block Stylesheets %}
	{{ parent() }}
	<link href="{{ asset('bundles/tmsusers/css/styleDashboard.css')  }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block header %}
	<p><a class="links" href="{{ path('tms_users_dashboard') }}"><img src="{{ asset('public/images/logoTaskManager.png') }}" alt="logo TaskManager" /></a></p>
	<p>{{ app.user.username }}</p>
	<p><a class="links" href="{{ path('tms_tasks_manager_homepage') }}">Go to your Task list</a></p>
	<p><a href="{{ path('logout') }}">Logout</a></p>
{% endblock %}

{% block content %}
	<p><a class="links" href="{{ path('tms_tasks_manager_create') }}">Create a new Task</a></p>
	<section>
		<p>Next 5 Tasks :</p>
		{% for task in next_tasks %}
			<div class="task">
				<div class="nameTask">
					<p><a class="showLink" href="{{ path('tms_tasks_manager_show', { 'taskid': task.getId() }) }}">{{task.getName()}}</a></p>
					<p>Priority: {{task.getPriority()}}</p>
					{% if task.getDateStarted() == null %}
						<p>Not Begin</p>
					{% else %}
						<p>Begin the: {{task.getDateStarted()|date('m/d/Y H:i')}}</p>
					{% endif %}
					<p>To finish for: {{task.getDueDate()|date('m/d/Y H:i')}}</p>
				</div>
				<div class="descriptionTask">
					{{task.getDescription()}}
				</div>
				<div class="depTask">
					{#TODO#}
				</div>
				<div class="actionTask">
					<p><a class="links" href="{{ path('tms_tasks_manager_edit', { 'taskid': task.getId() }) }}">Edit this Task</a></p>
					<p><a class="links" href="{{ path('tms_tasks_manager_delete', { 'taskid': task.getId() }) }}">Delete this Task</a></p>
				</div>
			</div>
		{% endfor %}
	</section>
	<section>
		<p>5 Tasks in progress :</p>
		{% for task in tasks_in_progress %}
			<div class="task">
					<div class="nameTask">
						<p><a class="showLink" href="{{ path('tms_tasks_manager_show', { 'taskid': task.getId() }) }}">{{task.getName()}}</a></p>
						<p>Priority: {{task.getPriority()}}</p>
						{% if task.getDateStarted() == null %}
							<p>Not Begin</p>
						{% else %}
							<p>Begin the: {{task.getDateStarted()|date('m/d/Y H:i')}}</p>
						{% endif %}
						<p>To finish for: {{task.getDueDate()|date('m/d/Y H:i')}}</p>
					</div>
					<div class="descriptionTask">
						{{task.getDescription()}}
					</div>
					<div class="depTask">
						{#TODO#}
					</div>
					<div class="actionTask">
						<p><a class="links" href="{{ path('tms_tasks_manager_edit', { 'taskid': task.getId() }) }}">Edit this Task</a></p>
						<p><a class="links" href="{{ path('tms_tasks_manager_delete', { 'taskid': task.getId() }) }}">Delete this Task</a></p>
					</div>
				</div>
		{% endfor %}
	</section>
{% endblock %}