{# src/TMS/UsersBundle/Resources/views/Default/dashboard.html.twig #}
{% extends "TMSUsersBundle:Default:userPage.html.twig" %}

{% block title %}{{ username }} - Tasks Manager{% endblock %}

{% block content %}
	<h1>Hello {{ username }}!</h1>
	<p>Next 5 Tasks :</p>
	{% for task in next_tasks %}
		<div id="task">
			{{task.getName()}}
			{{task.getDescription()}}
			{{task.getPriority()}}
			{{task.getDateStarted()}}
			{{task.getDateCompleted()}}
			<a href="{{ path('tms_tasks_manager_show', { 'username': username, 'taskid': task.getId() }) }}">Show in details</a>
		</div>
	{% endfor %}
	
	<p>5 Tasks in progress :</p>
	{% for task in tasks_in_progress %}
		<div id="task">
			{{task.getName()}}
			{{task.getDescription()}}
			{{task.getPriority()}}
			{{task.getDateStarted()}}
			{{task.getDateCompleted()}}
			<a href="{{ path('tms_tasks_manager_show', { 'username': username, 'taskid': task.getId() }) }}">Show in details</a>
		</div>
	{% endfor %}
	
	<a href="{{ path('tms_tasks_manager_homepage', { 'username': username }) }}">Link to your Task list</a>
{% endblock %}