{# src/TMS/UsersBundle/Resources/views/Default/dashboard.html.twig #}
{% extends "::tasksJsActions.html.twig" %}

{% block title %}{{ app.user.username }} - Dashboard{% endblock %}

{% block Stylesheets %}
	{{ parent() }}
	<link href="{{ asset('bundles/tmsusers/css/styleDashboard.css')  }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
	<p><a class="links" href="{{ path('tms_tasks_manager_create') }}">Create a new Task</a></p>
	{% if next_tasks != null %}
		<section>
			<p>Next 5 Tasks :</p>
			{% for task in next_tasks %}
				<div class="task">
					<div class="infosTask">
						<p><a class="showLink" href="{{ path('tms_tasks_manager_show', { 'taskid': task.getId() }) }}">{{task.getName()}}</a></p>
						<p>Priority: {{task.getPriority()}}</p>
						{# Si la tâche est commencée #}
						{% if task.getDateStarted() == null %}
							<p>Not Started yet <a class="timeUpdate startTask" id="start_{{ task.getId() }}" href="#" >-> Begin Now</a></p>
						{% else %} {# Si la tâche est non commencée #}
							<p>Started the: {{task.getDateStarted()|date('m/d/Y H:i')}}</p>
						{% endif %}
						{# Si la tâche est terminée #}
						{% if task.getDateCompleted() != null %}
							<p>Finished the: {{task.getDateCompleted()|date('m/d/Y H:i')}}</p>
						{% else %}	{# Si la tâche n'est pas terminée #}
							{# Si la tâche a une date de fin encore valide #}
							{% if task.getDueDate() > "now"|date("m/d/Y H:i") %}
								{# Si la tâche a été commencé on propose de la finir #}
								{% if task.getDateStarted() != null %}
									<p>To finish for: {{task.getDueDate()|date('m/d/Y H:i')}} | <a class="timeUpdate finishTask" id="finish_{{ task.getId() }}" href="#" >Finish</a></p>
								{% else %}	{# Sinon non #}
									<p>To finish for: {{task.getDueDate()|date('m/d/Y H:i')}}</p>
								{% endif %}
							{% else %}	{# Si la tâche est expirée sans avoir été finie #}
								<p>Deadtime reach !</p>
							{% endif %}
						{% endif %}
					</div>
					<div class="descriptionTask">
						<p>{{task.getDescription()}}</p>
					</div>
					<div class="depTask">
						<p><a class="links addDeps" id="{{ task.getId() }}" href="#">Add Dependences</a></p>
						{% if task.getDepTasks()|length != 0 %}
							<div class="depList" >
								{% for depTask in task.getDepTasks() %}
									<p>
										<a class="removeDeps" id="{{ task.getId() }}_{{ depTask.getId() }}" href="#">
											<img alt="delete cross" src="{{ asset('public/images/delete.png') }}"/>
										</a> 
										{{depTask.getName()}}
									</p>
								{% endfor %}
							</div>
						{% endif %}
					</div>
					<div class="actionTask">
						<p><a class="links" href="{{ path('tms_tasks_manager_edit', { 'taskid': task.getId() }) }}">Edit this Task</a></p>
						<p><a class="links deleteBtn" href="{{ path('tms_tasks_manager_delete', { 'taskid': task.getId() }) }}">Delete this Task</a></p>
					</div>
				</div>
			{% endfor %}
		</section>
	{% endif %}
	{% if tasks_in_progress != null %}
		<section>
			<p>5 Tasks in progress :</p>
			{% for task in tasks_in_progress %}
				<div class="task">
						<div class="infosTask">
							<p><a class="showLink" href="{{ path('tms_tasks_manager_show', { 'taskid': task.getId() }) }}">{{task.getName()}}</a></p>
							<p>Priority: {{task.getPriority()}}</p>
							{# Si la tâche est commencée #}
							{% if task.getDateStarted() == null %}
								<p>Not Started yet <a class="timeUpdate startTask" id="start_{{ task.getId() }}" href="#" >-> Begin Now</a></p>
							{% else %} {# Si la tâche est non commencée #}
								<p>Started the: {{task.getDateStarted()|date('m/d/Y H:i')}}</p>
							{% endif %}
							{# Si la tâche est terminée #}
							{% if task.getDateCompleted() != null %}
								<p>Finished the: {{task.getDateCompleted()|date('m/d/Y H:i')}}</p>
							{% else %}	{# Si la tâche n'est pas terminée #}
								{# Si la tâche a une date de fin encore valide #}
								{% if task.getDueDate() > "now"|date("m/d/Y H:i") %}
									{# Si la tâche a été commencé on propose de la finir #}
									{% if task.getDateStarted() != null %}
										<p>To finish for: {{task.getDueDate()|date('m/d/Y H:i')}} | <a class="timeUpdate finishTask" id="finish_{{ task.getId() }}" href="#" >Finish</a></p>
									{% else %}	{# Sinon non #}
										<p>To finish for: {{task.getDueDate()|date('m/d/Y H:i')}}</p>
									{% endif %}
								{% else %}	{# Si la tâche est expirée sans avoir été finie #}
									<p>Deadtime reach !</p>
								{% endif %}
							{% endif %}
						</div>
						<div class="descriptionTask">
							<p>{{task.getDescription()}}</p>
						</div>
						<div class="depTask">
							<p><a class="links addDeps" id="{{ task.getId() }}" href="#">Add Dependences</a></p>
							{% if task.getDepTasks()|length != 0 %}
								<div class="depList" >
									{% for depTask in task.getDepTasks() %}
										<p>
											<a class="removeDeps" id="{{ task.getId() }}_{{ depTask.getId() }}" href="#">
												<img alt="delete cross" src="{{ asset('public/images/delete.png') }}"/>
											</a> 
											{{depTask.getName()}}
										</p>
									{% endfor %}
								</div>
							{% endif %}
						</div>
						<div class="actionTask">
							<p><a class="links" href="{{ path('tms_tasks_manager_edit', { 'taskid': task.getId() }) }}">Edit this Task</a></p>
							<p><a class="links deleteBtn" href="{{ path('tms_tasks_manager_delete', { 'taskid': task.getId() }) }}">Delete this Task</a></p>
						</div>
					</div>
			{% endfor %}
		</section>
	{% endif %}
{% endblock %}

