{# src/TMS/UsersBundle/Resources/views/Default/index.html.twig #}
{% extends "::anonymousLayout.html.twig" %}

{% block Stylesheets %}
	{{ parent() }}
	<link href="{{ asset('bundles/tmsusers/css/styleIndex.css')  }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block title %}Task Manager - Home Page{% endblock %}

{% block content %}
	<div id="user">
		<p><a class="links" href="{{ path('login') }}">Already register ? Log in</a></p>
	</div>
	<div class="form">
		{{ form_start(signup_form) }}
			{{ form_errors(signup_form) }}
			
			{{ form_row(signup_form.username) }}
			{{ form_row(signup_form.email) }}
			{{ form_row(signup_form.password) }}
			{{ form_row(signup_form.submit, {'label': 'Sign Up'}) }}
		{{ form_end(signup_form) }}
	</div>
{% endblock %}