{# src/TMS/UsersBundle/Resources/views/Default/index.html.twig #}
{% extends "::layout.html.twig" %}
	
{% block content %}
	<h1>Hello !</h1>
	{{ form_start(signup_form) }}
		{{ form_errors(signup_form) }}
		
		{{ form_row(signup_form.username) }}
		{{ form_row(signup_form.email) }}
		{{ form_row(signup_form.password) }}
		{{ form_row(signup_form.save) }}
	{{ form_end(signup_form) }}
	
	{{ form_start(signup_form) }}
		{{ form_errors(signup_form) }}
		
		{{ form_row(login_form.username) }}
		{{ form_row(signup_form.password) }}
		{{ form_row(signup_form.save) }}
	{{ form_end(login_form) }}
	
	<a href="{{ path('tms_users_dashboard', { 'username': 'KeRNeLith' }) }}">Link to your Dashboard</a>
	{#<a href="{{ path('tms_users_dashboard', { 'username': 'gupascal' }) }}">Link to your Dashboard</a>#}
{% endblock %}