{# src/TMS/UsersBundle/Resources/views/Default/login.html.twig #}
{% extends "::layout.html.twig" %}
	
{% block title %}Task Manager - Login{% endblock %}

{% block header %}
	<p>TaskManager is an online task manager that allow you to store and edit numerous tasks. It can also be use as a reminder !</p>
{% endblock %}

{% block content %}
	{% if error %}
		<div>{{ error.message }}</div>
	{% endif %}
	<div id="loginForm">
		{{ form_start(login_form) }}
				{{ form_errors(login_form) }}
				
				{{ form_row(login_form.username, { 'attr': {'value': last_username } }) }}
				{{ form_row(login_form.password) }}
				{{ form_row(login_form.submit, {'label': 'Sign In'}) }}
		{{ form_end(login_form) }}
	</div>
{% endblock %}