{# src/TMS/userPage.html.twig #}
{% extends "::layout.html.twig" %}

{% block Stylesheets %}
	{{ parent() }}
	<link href="{{ asset('bundles/tmsusers/css/styleUser.css')  }}" rel="stylesheet" type="text/css"> 
{% endblock %}

{% block header %}
	<img src="{{ asset('images/profil.png') }}" alt="profil photo" />
	<p>{{ username }}</p>
	{#<a href="{{ path('Default', { 'username': 'xxx' }) }}">Manage your profil</a>#}
{% endblock %}